.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-inner-color);
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: 1px solid #c4d2e77b;
    padding: 20px;
    width: 50%;
}

.big-wrapper {
    display: flex;
    width: 80%;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* background: linear-gradient(180deg, #56b3ff 0%, #36a3fb 100%); */
    background: linear-gradient(175deg, rgba(103, 194, 255, 0.8) 0%, rgba(0, 129, 209, 0.8) 100%), url("../img/login-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-side > img {
    height: 250px;
    pointer-events: none;
}

.error {
    display: none;
    position: absolute;
    bottom: 15px;
    color: var(--red);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    color: var(--primary-color);
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 25px;
    text-align: center;
}